/*----------------------
---- Global Styles
----------------------*/
html, body {
  height:100%;
}

/*** Colors ***/
$aqua: #05B88E;
$blueDeep: #233D5F;
$turquoise: #04C1DC;
$orange: #FF8824;
$green: #8FCA42;
$red: #CA2124;


$light: rgb(255,255,255);
$mid: rgb(128,128,128);
$dark: rgb(25,25,25);

@mixin fadeText($color, $amount) {
  color: fade-out($color, $amount);
}

@mixin fadeBG($color) {
  background-color:fade-out($color, .1);
}

.faded {
  @include fadeText( $light, .2 )
}

.icon{
  color: $dark;
}
.icon-red{
  color: $red;
}

/*----------------------
---- Mixins
----------------------*/

@mixin padTopBot($pad) {
  padding-top: $pad;
  padding-bottom: $pad;
}

@mixin serif {
  font-family: "Libre Baskerville", "Baskerville", "Palatino Linotype", serif;
}

@mixin sans {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Tahoma", sans-serif;
}

/*----------------------
---- Typographic Styles
----------------------*/

body {
  font-size: 1.6em;
  @include sans;
}

h1 {
  line-height: 1.6em;
  font-size: 3em;
  @include serif;
}

h2 {
  font-size: 2.5em;
  @include serif;
}

h3 {
  font-size: 1.4em;
  font-weight: 600;
  @include serif;
}

h4 {
  font-size: 1em;
  font-weight: 600;
  @include sans;
}

p {
  margin-left: 2em;
}

.seperator blockquote{

  @include serif;
  font-size: 2.8em;

  footer {
    font-size: .4em;
  }
}

/*----------------------
---- Layout Styles
----------------------*/


article {
  @include padTopBot(5em);
  height:100%;
}

.seperator {
  @include padTopBot(5em);
  height:75%;
}


/*----------------------
---- Section Aesthetics
----------------------*/
body {
  background-image: url(../img/ricepaper2.png);
}

/* Retina Background Image Media Query from CSS Tricks
http://css-tricks.com/snippets/css/retina-display-media-query */
@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
  /* Retina-specific stuff here */
  body {
    background-image: url(../img/ricepaper2_@2X.png);
  }
}


/*** Navigation ***/

.top-nav {
  margin-bottom:0;
  background:none;
  border-bottom:none;
  height:5em;
}

.navbar-brand {
  svg {
    height:4em;
    width:auto;
    float:left;
    path {
      transition: fill 300ms;
      fill:#fff;
    }
  }
}

.moved {
  svg {
    path {
      fill: #000;
    }
  }
}

.nav-header {
  width:100%;
  height:7em;

  position:absolute;
  top:0;

  background-image:url(../img/nav-bg.svg);
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}

/*** Seperators ***/
.seperator {
  color: fade-out( lighten($light, 25%), .2);
  @include fadeBG( darken($blueDeep, 12%) );

  & ~ .seperator {
    @include fadeBG( darken($aqua, 20%) );

    & ~ .seperator {
      @include fadeBG( darken($turquoise, 20%) );

      & ~ .seperator {
        @include fadeBG( darken($green, 35%) );

      }
    }
  }

  blockquote {
    border-left:none;
    footer{
      color: fade-out( lighten($light, 25%), .4);
    }
  }
}

/*** Intro ***/
#intro {
  padding-top:7em;
  background-image: url(../img/xiangqi_vert.svg);
  background-repeat: no-repeat;
  background-size: auto 115%;
  background-position: 110% center;
}

/*** Pieces ***/
#thePieces {

}

.pieces-list {
  ul {
    li {
      display:inline-block;
      width:25%;
      float:left;
      text-align: center;

      margin-left:12.5%;

      a {
        font-size:2.2em;
        text-align:center;

        width:1.5em;
        height:1.5em;
        display: inline-block;
        
        border-radius:50%;
        border: .1em solid $dark;
        &:hover,
        &.active{
          background-color:$dark;
          border-color:$dark;
          .icon{
            color:$light;
          }
        }
      }

      & + li {
        margin-left:0;
      }

    }
  }
}
.pieces{
  section {
    .icon {
      display:block;
      width:100%;
      font-size:4em;
      text-align:center;
    }
    h4 {
      margin-left:2em;
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width:768px) {
  .pieces-list {
    ul {
      li {
        width:14%;
        margin-left:0;
      }
    }
  }
}

/*** Footer ***/

footer.footer-page {

  @include padTopBot(5em);

  background-color: darken($mid, 25%);
  color: lighten($light, 25%);

}

/*----------------------
---- Pieces Icon Font built @ fontello.com
----------------------*/
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?45654251');
  src: url('../fonts/fontello.eot?45654251#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?45654251') format('woff'),
       url('../fonts/fontello.ttf?45654251') format('truetype'),
       url('../fonts/fontello.svg?45654251#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
[class^="icon-"]:before, 
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
}
 
.icon-chariot-rd:before { content: '\e800'; }
.icon-horse-rd:before { content: '\e801'; }
.icon-cannon-rd:before { content: '\e802'; }
.icon-elephant-bk:before { content: '\e803'; }
.icon-pawn-rd:before { content: '\e804'; }
.icon-general-rd:before { content: '\e805'; }
.icon-chariot-bk:before { content: '\e806'; }
.icon-horse-bk:before { content: '\e807'; }
.icon-cannon-bk:before { content: '\e808'; }
.icon-elephant-rd:before { content: '\e809'; }
.icon-pawn-bk:before { content: '\e80a'; }
.icon-general-bk:before { content: '\e80b'; }
.icon-minister-bk:before { content: '\e80c'; }
.icon-minister-rd:before { content: '\e80d'; }